h1 {
	font-size: 30px;
	font-family: "Luckiest Guy";
}

h3 {
	font-size: 20px;
	font-family: "Luckiest Guy";
}

h4 {
	font-size: 18px;
	font-family: "Luckiest Guy";
}

p, li {
	font-size: 14px;
	font-family: "Roboto";
}

ul {
	margin: 0;
	padding: 5px 0 5px 30px;
}

li {
	padding: 5px 0;
	font-family: "Roboto";
}

.upgradeTitle {
	margin: 0;
	padding: 5px;
}

.statCard {
	margin: 10px 0;
	border-radius: 25px;
}

.military {
    background: rgba(0, 255, 0, 0.25);
}

.statCardTitle {
	margin: 0px;
	padding: 10px 10px 0 10px;
}

.horizontalStatContainer {
	display: flex;
	flex-wrap: wrap;
}

.singleHorizontalStat {
	margin: 0;
	padding: 10px;
	font-family: "Roboto";
}

.largeStatNumber {
	font-size: 24px;
	font-family: "Roboto";
	margin: 0;
}

.statDescription {
	margin: 5px 0px;
}

.attack {
	color:rgb(0, 100, 0);
}

.crosspath {
	padding: 10px;
}

.crosspathRow {
	display: flex;
	margin: 5px 0;
}

.crosspathObject {
	margin: 0 10px 0 0 ;
}